// Basic CSS styling
$break-md: 660px;
$subtitle-stack: 'Futura', sans-serif;
$para-stack: 'Lato', sans-serif;
$black-color: #333;

body {
	background: url('../img/class_background.png') fixed;
	background-repeat: repeat;
	padding: 0px;
}

.featureProject:hover {
	text-decoration: none;
	color: #CCC;
}


h2 {
	display: inline;
	font-family: $subtitle-stack;
}

h3 {
	font-family: $subtitle-stack;
}

.bio {
	display: none;
}

.topHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@media screen and (max-width: $break-md) {
		display: none
	}
}

.cohort13 {
	margin-right: auto;
	max-width: 20%;
}

.lucky13 {
	width: 100%;
}

.python-logo {
	max-width: 5%;
	margin: 20px
}

/*.techs {
	text-align: center;
	letter-spacing: 0.4em;
}*/
.cardContainer {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: flex-start;
	// align-content: flex-start;
	justify-content: space-around;
	padding-top: 50px
}

.card {
	margin: 1.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.picContainer {
	border-left: 0.7em;
	border-right: 0.7em;
	border-style: solid;
	border-color: $black-color;
}

.picContainer img {
	max-width: 200px;
}


.name,
.featureProject {
	color: white;
	background: $black-color;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.25em 0;
	text-align: center;
}

.iconContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #AD3316;
}

.icon {
	margin: 1em 0.5em;
}

.blue {
	background: #6ba8a4;
}

.red {
	background: #AD3316;
}

.green {
	background: #28520e;
}

.yellow {
	background: #a08d09;
}

.purple {
	background: #380431;
}

footer{
	width: 100%;
	.websiteGroupPic {
		height: 10px;
	}
}

.navbar {
	margin-bottom: 0;
}

// // end basic styling
