body {
  background: url("../img/class_background.png") fixed;
  background-repeat: repeat; }

h2 {
  display: inline;
  font-family: "News Cycle", sans-serif; }

h3 {
  font-family: "News Cycle", sans-serif; }

.bio {
  display: none; }

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 660px) {
    .topHeader {
      display: none; } }

.cohort13 {
  margin-right: auto; }

.lucky13 {
  width: 100%; }

.python-logo {
  max-width: 8%;
  margin: 20px; }

.techs {
  text-align: center;
  letter-spacing: 0.4em; }

.cardContainer {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.card {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.picContainer {
  border: 3px solid black; }

.picContainer img {
  max-width: 300px; }

.name,
.featureProject {
  color: white;
  background: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.25em 0;
  text-align: center; }

.iconContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #AD3316; }

.icon {
  margin: 0.5em 0.5em; }
